@charset "UTF-8";
body {
  font-family: "Lato";
}

details > summary::-webkit-details-marker {
  display: none;
}

/*variables*/
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.pink_text {
  color: #F16D7F;
}

/*index start*/
/*buttons кнопки*/
.btn {
  text-decoration: none;
  text-align: center;
  background: none;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 15px 39px 14px 39px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #F16D7F;
  color: #F8F8F8;
}

.btn-cart {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 16px 13px 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* registration button*/
.join-now {
  max-width: 167px;
  height: 50px;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #F16D7F;
}
.join-now:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.join-now:hover .arrow {
  fill: #F16D7F;
}

.arrow {
  margin-left: 20px;
  fill: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*slider product*/
.arrow-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.arrow-slider:hover {
  fill: #F16D7F;
}

/*product cart btn*/
.product-cart {
  margin-top: 49px;
  padding: 0 56px 0 23px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #F16D7F;
  color: #F16D7F;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-cart:hover {
  fill: #FFFFFF;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
}

.cart-svg {
  margin-right: 23px;
}

/*cart buttons*/
.clear-continue {
  padding: 17px 40px 16px 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.clear-continue:hover {
  color: #FFFFFF;
  background: #A4A4A4;
}

/* button get a quote*/
.get-quote {
  margin-top: 23px;
  width: 101px;
  padding: 10px 0 12px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.get-quote:hover {
  color: #FFFFFF;
  background: #A4A4A4;
}

/*checkout button*/
.checkout {
  width: 273px;
  padding: 15px 0 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 17px;
  margin-left: 44px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkout:hover {
  background: none;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

/*header шапка */
.header {
  position: relative;
  background: #222222;
  padding: 18px 32px 19px 32px;
}

.head_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_search a:first-child {
  margin-right: 41px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav a {
  margin-left: 33px;
}

.search-icon {
  fill: #E8E8E8;
}
.search-icon:hover {
  fill: #F16D7F;
}

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #E8E8E8;
}
.menu-icon:hover {
  fill: #F16D7F;
}
.menu-icon:active {
  fill: #F16D7F;
}

.reg-icon {
  fill: #E8E8E8;
}
.reg-icon:hover {
  fill: #F16D7F;
}
.reg-icon:active {
  fill: #F16D7F;
}

.cart-icon {
  fill: #E8E8E8;
}
.cart-icon:hover {
  fill: #F16D7F;
}
.cart-icon:active {
  fill: #F16D7F;
}

/* menu burger*/
.details-memu-category > summary {
  list-style: none;
}

.icon-menu-close {
  fill: #6F6E6E;
  float: right;
  margin-right: 17px;
}
.icon-menu-close:hover {
  fill: #F16D7F;
}

.burger-menu {
  position: absolute;
  top: 78px;
  right: 0;
  width: 232px;
  height: 748px;
  padding: 16px 0 0 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 3;
}

.menu-close {
  display: none;
}

.h3-menu_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 37px 0 24px;
  color: #000000;
}

.category_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.ul-for {
  margin: 12px 0 20px;
  padding-left: 22px;
}

.for {
  list-style: none;
  margin-bottom: 11px;
}
.for:last-child {
  margin-bottom: 0;
}

.category {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.category:hover {
  color: #000000;
  font-size: 16px;
}

@media (max-width: 768px) {
  .header {
    position: relative;
    background: #222222;
    padding: 18px 16px 19px 16px;
  }

  .nav > a {
    display: none;
  }
}
/*promo промо*/
.promo {
  background: #F1E4E6;
}

.promo_items {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.man {
  margin-left: -215px;
}

.promo_title {
  border-left: 12px solid #F16D7F;
  margin-left: 64px;
}

.text_1 {
  margin: 0;
  padding: 16px 0 0 16px;
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  line-height: 38px;
}

.text_2 {
  font-weight: 700;
  font-size: 32px;
  color: #222222;
}

.fashion {
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 1172px) {
  .man {
    height: 368px;
    width: 386px;
    margin-left: 0;
  }

  .promo_items {
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo_title {
    border-left: 12px solid #F16D7F;
    margin-left: -100px;
    margin-right: 33px;
  }

  .text_1 {
    margin: 0;
    padding: 16px 0 0 16px;
    font-weight: 900;
    font-size: 44px;
    line-height: 29px;
    color: #222222;
  }

  .text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
  }

  .fashion {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 768px) {
  .promo_items {
    padding: 148px 0 149px;
    max-width: 375px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .man {
    display: none;
  }

  .promo_title {
    border-left: 12px solid #F16D7F;
    margin-left: 33px;
    margin-right: 0;
  }

  .text_1 {
    margin: 0;
    padding: 16px 0 0 16px;
    font-weight: 900;
    font-size: 38px;
    line-height: 29px;
    color: #222222;
  }

  .text_2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }

  .fashion {
    font-size: 20px;
    line-height: 24px;
  }
}
/*offer предложение*/
.offer {
  padding: 65px 0 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 180px;
  grid-template-rows: 1fr 180px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.offer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.offer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.offer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.offer > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.offer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.promo_item {
  position: relative;
  width: 360px;
}
.promo_item:last-child {
  width: 1140px;
  height: 180px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.promo_text {
  position: absolute;
  margin: 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}

.promo_text2 {
  font-weight: 700;
  font-size: 24px;
}

.last_item {
  position: absolute;
  top: 65px;
}

@media (max-width: 1172px) {
  .offer {
    width: 735px;
    padding: 20px 16px 96px 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 232px 20px 232px 20px 232px;
    grid-template-columns: 232px 232px 232px;
    -ms-grid-rows: 167px 20px 116px;
    grid-template-rows: 167px 116px;
    grid-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .offer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .offer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .offer > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .offer > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .offer > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .promo_item {
    position: relative;
    width: 232px;
  }
  .promo_item:last-child {
    width: 736px;
    height: 180px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
  }

  .promo-img {
    width: 232px;
  }

  .promo-img-2 {
    width: 736px;
  }

  .promo_text {
    position: absolute;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    top: 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
  }

  .promo_text2 {
    font-weight: 700;
    font-size: 24px;
  }

  .last_item {
    position: absolute;
    top: 33px;
  }
}
@media (max-width: 768px) {
  .offer {
    width: 343px;
    padding: 64px 16px 64px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .promo_item {
    position: relative;
    width: 343px;
  }
  .promo_item:last-child {
    width: 343px;
    height: 111px;
  }

  .promo-img {
    width: 343px;
  }

  .promo-img-2 {
    width: 343px;
    height: 111px;
  }

  .promo_text {
    position: absolute;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    top: 98px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
  }

  .promo_text2 {
    font-weight: 700;
    font-size: 24px;
  }

  .last_item {
    position: absolute;
    top: 30px;
  }
}
/*products продукт*/
.card-link {
  text-decoration: none;
}

.products {
  padding-bottom: 95px;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}

.subtitle_h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}

.product_cards {
  padding: 48px 16px 48px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product_cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product_cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.product_cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product_cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product_cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.card_item {
  background: #F8F8F8;
  width: 360px;
  height: 581px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 360px;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card_item:hover .overlay {
  opacity: 1;
}

.btn_img {
  margin-right: 11px;
}

.text_card {
  padding: 25px 0 0 18px;
}

.card_title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}

.card_subtitle {
  max-width: 315px;
  margin: 13px 0 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
}

.card_price {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.block-product-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1172px) {
  .product_cards {
    width: 735px;
    padding: 72px 16px 47px 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product_cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .product_cards > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .product_cards > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}
@media (max-width: 768px) {
  .product_cards {
    width: 360px;
    padding: 72px 0 47px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product_cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .product_cards > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}
/*feature фитчи*/
.feature {
  padding: 103px 0 103px;
  background-color: #222222;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 30px 360px 30px 360px;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_title {
  margin: 19px 0 16px;
  font-weight: 400;
  font-size: 20px;
  color: #FBFBFB;
}

.feature_subtitle {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

@media (max-width: 1172px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feature_card {
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*call-back обратная связь*/
.call_back {
  padding: 97px 0 120px;
  background-image: url(../img/testimonials/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.call_back_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials {
  text-align: center;
}

.testimonials_text {
  max-width: 360px;
  margin: 30px 0 0;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

.subscribe {
  text-align: center;
  margin-right: 100px;
}

.subscribe_title {
  font-weight: 700;
  font-size: 24px;
  color: #222222;
}

.subscribe_subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}

.subscribe_input {
  margin-top: 32px;
}

.mail {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #222224;
  padding: 0 0 0 22px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mail:active, .mail :hover, .mail :focus {
  outline: 0;
  outline-offset: 0;
}
.mail:hover {
  outline: 0;
  outline-offset: 0;
}
.mail:focus {
  outline: 0;
  outline-offset: 0;
}

.subscribe_btn {
  width: 100px;
  height: 49px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #F16D7F;
  cursor: pointer;
}
.subscribe_btn:hover {
  background: #E05C6E;
}

@media (max-width: 1172px) {
  .call_back {
    padding: 53px 0 140px;
    background-image: url(../img/testimonials/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .call_back_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscribe {
    text-align: center;
    margin-right: 0;
    margin-top: 48px;
  }
}
@media (max-width: 678px) {
  .call_back {
    padding: 97px 0 120px;
    background-image: url(../img/testimonials/bg.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .mail {
    width: 225px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #222224;
    padding: 0 0 0 22px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .mail:active, .mail :hover, .mail :focus {
    outline: 0;
    outline-offset: 0;
  }
  .mail:hover {
    outline: 0;
    outline-offset: 0;
  }
  .mail:focus {
    outline: 0;
    outline-offset: 0;
  }
}
/*footer подвал*/
.footer {
  background: #222222;
  padding: 24px 32px 24px 32px;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copy {
  font-weight: normal;
  font-size: 16px;
  color: #FBFBFB;
}

.social-link {
  margin-left: 8px;
  color: #000;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-link:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

@media (max-width: 687px) {
  .footer {
    background: #222222;
    padding: 43px 0 9px;
  }

  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }

  .copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-weight: normal;
    font-size: 16px;
    color: #FBFBFB;
  }
}
/*catalog start*/
/*new arrivals новые поступления*/
.new_arrivals {
  background: #F8F3F4;
  padding: 60px 0 60px;
}

.arrivals_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1_title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  -webkit-animation: move-title 1s alternate;
          animation: move-title 1s alternate;
}
@-webkit-keyframes move-title {
  from {
    color: black;
    margin-left: -200px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    margin-left: 0;
    color: #F16D7F;
  }
}
@keyframes move-title {
  from {
    color: black;
    margin-left: -200px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    margin-left: 0;
    color: #F16D7F;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.breadcrumb li {
  margin-left: 4px;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.nav_link:hover {
  text-decoration: underline;
}
.nav_link::after {
  content: "/";
}

.nav_links {
  -webkit-animation: move-nav 1s alternate;
          animation: move-nav 1s alternate;
}
@-webkit-keyframes move-nav {
  0% {
    margin-right: -180px;
  }
  100% {
    margin: 0;
  }
}
@keyframes move-nav {
  0% {
    margin-right: -180px;
  }
  100% {
    margin: 0;
  }
}

/*catalog-product продукция каталога*/
.new_product {
  padding: 51px 0 96px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.filter-wraper {
  position: relative;
}

.filter_title {
  padding: 13px 16px;
  margin-top: -16px;
  max-width: 360px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.filter_title > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.filter_title[open] {
  fill: #F16D7F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #F16D7F;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.inside {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.inside[open] {
  color: #F16D7F;
}

.inside-category {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 327px;
  height: 37px;
  padding-left: 11px;
  margin-top: 16px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}

.ul-inside {
  margin-top: 24px;
  list-style: none;
  padding: 0;
}

.li-inside {
  margin-bottom: 11px;
}
.li-inside a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.li-inside a:hover {
  color: #F16D7F;
  margin-left: 5px;
}

.details-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
}
.details-box:last-child {
  margin-right: 0;
}

.size_nav {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size-name {
  list-style: none;
}
.size-name::after {
  margin-left: 10px;
  content: url(../img/size-nav-details-icon.svg);
}

.size-box {
  margin-top: 5px;
  width: 79px;
  height: 103px;
  position: absolute;
  padding: 7px 30px 12px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  z-index: 2;
}

.size-box label {
  display: block;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.size-box label input {
  margin-right: 7px;
}
.size-box label .size-box label:last-child {
  margin-bottom: 0;
}

.new-product-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat 30px 3, 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 30px;
}

.new-product-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.pagination_box {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 16px 15px 16px;
  border: 1px solid #EBEBEB;
}

.list {
  background: none;
  border: none;
  padding: 0 16px 0 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.list:hover {
  fill: #F16D7F;
}

.page-number {
  margin: 0 8px 0 8px;
  font-weight: 300;
  font-size: 16px;
  color: #C4C4C4;
  background: none;
  border: none;
  padding: 0;
}
.page-number:last-child {
  margin: 0;
}
.page-number:nth-child(6) {
  margin-right: 0;
}

.pagination .page-number:hover:not(.active) {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}

.active {
  color: #F16D7F;
  font-weight: 400;
}

.points {
  color: #C4C4C4;
}

/*registration start*/
/*registration page страница регистрации*/
/*registration title*/
.regisctration-page {
  padding: 64px 0 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-header {
  padding: 59px 0 60px;
  background: #F8F3F4;
}

.reg-title {
  font-weight: 400;
  font-size: 24px;
  -webkit-animation-name: shopping-move;
          animation-name: shopping-move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes shopping-move {
  from {
    margin-left: 800px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes shopping-move {
  from {
    margin-left: 800px;
  }
  to {
    margin-left: 0;
  }
}
/*registration form*/
.reg-form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 128px;
}

.your-name .log-pas {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.user-info {
  margin-top: 20px;
  padding: 13px 0 16px 18px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
}
.user-info:focus {
  outline: none;
}

.sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 31px 0 33px;
}

.radio {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  margin-left: 20px;
}
.radio:first-child {
  margin-left: 0;
}

.radio-title {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.warning {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15.5px 0 39px;
}

/*discription registration*/
.title-discrip {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.subtitle-discrip {
  margin: 0;
  padding: 22px 0 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-list {
  list-style: none;
  padding: 0;
}

.reg-list-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}
.reg-list-item::before {
  content: url(../img/marker.svg);
  margin-right: 22px;
}

/*product-page start*/
/*product page страница товара*/
/*slider слайдер*/
.product-page {
  position: relative;
}

.slider {
  padding: 11px 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 777px;
  background: #F7F7F7;
}

/*discription product*/
.product-discrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  padding: 65px 0 65px;
  background: #FFFFFF;
  margin-top: -65px;
}

.product-discrip-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 0;
}

.short-hr-product {
  margin: 12px 0 12px;
  width: 63px;
  height: 3px;
  background: #EF5B70;
  border: none;
}

.product-discrip-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 0;
}

.product-discrip-text {
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px 0 32px;
}

.price-product {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin: 0;
}

.long-hr-product {
  margin: 65px 0 65px;
  width: 641px;
  height: 1px;
  background: #EAEAEA;
  border: none;
}

/*выпадающие чекбоксы*/
.details-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 23px;
}
.details-box:last-child {
  margin-right: 0;
}

.details-box > summary {
  list-style: none;
}
.details-box > summary::after {
  margin-left: 10px;
  content: url(../img/size-nav-details-icon.svg);
}

.choose-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-box {
  margin-top: 5px;
  width: 79px;
  height: 103px;
  position: absolute;
  padding: 7px 30px 12px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  z-index: 2;
}

.choose-box label {
  display: block;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-box label .choose-box label:last-child {
  margin-bottom: 0;
}

.product-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 128px 0 128px;
}

/*cart start*/
/*cart корзина*/
.shopping-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-title {
  background: #F8F3F4;
  padding: 59px 0 60px;
}

@keyframes shopping-move {
  from {
    margin-left: 800px;
  }
  to {
    margin-left: 0;
  }
}
.title-cart {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 0;
  -webkit-animation-name: shopping-move;
          animation-name: shopping-move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/*cart cards and buttons*/
.shopping-cart {
  padding: 96px 0 128px;
}

.cart-item {
  width: 652px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cart-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cart-item-img {
  width: 262px;
  height: 306px;
}

.discrip-cart-item {
  padding: 22px 0 0 31px;
}

.cart-item-title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.parametres-list {
  margin-top: 42px;
  list-style: none;
  padding: 0;
}

.list-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.prise-cart-item {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}

.input-number {
  margin-left: 25px;
  width: 25px;
  height: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
}

.close-cart-item {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  fill: #575757;
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
}
.close-cart-item:hover {
  fill: #F16D7F;
}

.cart-buttons {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

/*cart form*/
.adress-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 128px;
}

.form-title {
  margin: 17px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-form-input {
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 13px 0 16px 17px;
  color: #222222;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  outline: none;
  margin-top: 20px;
}

.total-price {
  margin-top: 57px;
  padding: 39px 0 42px;
  width: 360px;
  background: #F5F3F3;
}

.sub-total {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-right: 34px;
}

.sub-total-item {
  margin-left: 33px;
}

.grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  margin: 12px 37px 21px;
}

.grand-total-item {
  margin-left: 30px;
  color: #F16D7F;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.hr-cart-form {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  border: none;
  text-align: center;
  margin: 0;
  margin-left: 44px;
}