body {
  font-family: "Lato";
}

.header {
  position: relative;
  background: #222222;
  padding: 18px 0 19px;
}
.header .head_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo_search a:first-child {
  margin-right: 41px;
}
.header .nav a {
  margin-left: 33px;
}

.burger-menu {
  position: absolute;
  top: 77px;
  right: 0;
  width: 232px;
  height: 764px;
  padding: 16px 0 0 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.burger-menu .h3-menu_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.burger-menu .category_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.burger-menu .ul-for {
  margin: 12px 0 20px;
  padding-left: 20px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.promo {
  background: #F1E4E6;
}
.promo .promo_items {
  max-width: 1450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo .promo_items .promo_title {
  border-left: 12px solid #F16D7F;
}
.promo .promo_items .promo_title .text_1 {
  margin: 0;
  padding: 16px 0 0 16px;
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  line-height: 38px;
}
.promo .promo_items .promo_title .text_2 {
  font-weight: 700;
  font-size: 32px;
  color: #222222;
}
.promo .promo_items .promo_title .fashion {
  font-weight: 700;
  font-size: 32px;
}

.pink_text {
  color: #F16D7F;
}

.offer {
  padding: 65px 0 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 180px;
  grid-template-rows: 1fr 180px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.offer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.offer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.offer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.offer > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.offer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.offer .promo_item {
  position: relative;
  width: 360px;
}
.offer .promo_item .promo_text {
  position: absolute;
  margin: 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}
.offer .promo_item .promo_text .promo_text2 {
  font-weight: 700;
  font-size: 24px;
}
.offer .promo_item .last_item {
  position: absolute;
  top: 65px;
}
.offer .promo_item:last-child {
  width: 1140px;
  height: 180px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.products {
  padding-bottom: 95px;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}

.subtitle_h2 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}

.product_cards {
  padding: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product_cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product_cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.product_cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product_cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product_cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.product_cards .card_item {
  background: #F8F8F8;
  height: 581px;
}
.product_cards .text_card {
  padding: 25px 0 0 18px;
}
.product_cards .text_card .card_title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.product_cards .text_card .card_subtitle {
  max-width: 315px;
  margin: 13px 0 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
}
.product_cards .text_card .card_price {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.product_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product_btn .btn:hover {
  background: #FF6A6A;
  color: #F8F8F8;
}

.btn {
  text-decoration: none;
  text-align: center;
  background: none;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 14px 39px;
}

.feature {
  padding: 103px 0 103px;
  background-color: #222222;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 30px 360px 30px 360px;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feature .feature_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .feature_card .feature_title {
  margin: 19px 0 16px;
  font-weight: 400;
  font-size: 20px;
  color: #FBFBFB;
}
.feature .feature_card .feature_subtitle {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.call_back {
  padding: 97px 0 120px;
  background-image: url(/img/testimonials/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.call_back_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.call_back_container .testimonials {
  text-align: center;
}
.call_back_container .testimonials .testimonials_text {
  max-width: 360px;
  margin: 30px 0 0;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.call_back_container .subscribe {
  text-align: center;
}
.call_back_container .subscribe .subscribe_title {
  font-weight: 700;
  font-size: 24px;
  color: #222222;
}
.call_back_container .subscribe .subscribe_subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}
.call_back_container .subscribe_input {
  margin-top: 32px;
  margin-right: 100px;
}
.call_back_container .mail {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #222224;
  padding: 0 0 0 22px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.call_back_container .mail:active, .call_back_container :hover, .call_back_container :focus {
  outline: 0;
  outline-offset: 0;
}
.call_back_container .subscribe_btn {
  width: 100px;
  height: 49px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #F16D7F;
  cursor: pointer;
}

.footer {
  background: #222222;
  padding: 24px 0 24px;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_container .copy {
  font-weight: normal;
  font-size: 16px;
  color: #FBFBFB;
}
.footer_container .social-link {
  margin-left: 8px;
  color: #000;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_container .social-link:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

/*index end*/
/*catalog start*/
.new_arrivals {
  background: #F8F3F4;
  padding: 60px 0 60px;
}
.new_arrivals .arrivals_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new_arrivals .arrivals_container .h1_title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.new_arrivals .arrivals_container .nav_link {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.new_arrivals .arrivals_container .nav_link:active {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #F16D7F;
}

.new_product {
  padding: 51px 0 96px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.filter_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 304px;
  margin-left: 10px;
}
.filter_title .h2_title {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-right: 11px;
}
.filter_title .filter_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.size_nav {
  position: relative;
}

.size-box label {
  display: block;
  margin-bottom: 10px;
}
.size-box label .size-box label:last-child {
  margin-bottom: 0;
}

.size-box {
  margin-top: 5px;
  width: 79px;
  height: 103px;
  position: absolute;
  padding: 7px 30px 12px 9px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.new-product-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat 30px 3, 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 30px;
}

.new-product-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.new-product-card > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.new-product-card > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.new-product-card > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.new-product-card .card_item {
  background: #F8F8F8;
  height: 581px;
}
.new-product-card .text_card {
  padding: 25px 0 0 18px;
}
.new-product-card .text_card .card_title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.new-product-card .text_card .card_subtitle {
  max-width: 315px;
  margin: 13px 0 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #5D5D5D;
}
.new-product-card .text_card .card_price {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}