body{
    font-family: 'Lato';
    
}

.header{
    background: #222222;
    padding: 18px 0 19px;
    .head_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_search a:first-child{
        margin-right: 41px;
    }
    .nav{
       a{
           margin-left: 33px;
       }
    }  
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.promo{
    background: #F1E4E6;
    .promo_items{
        max-width: 1450px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .man{
            
        }
        .promo_title{
            border-left: 12px solid #F16D7F;
            .text_1{
                margin: 0;
                padding: 16px 0 0 16px;
                font-weight: 900;
                font-size: 48px;
                color: #222222;
                line-height: 38px;
            }
            .text_2{
                font-weight: 700;
                font-size: 32px;
                color: #222222;
            }
            .fashion{
                font-weight: 700;
                font-size: 32px;
                
            }
            
        }
    }
    
}
.pink_text{
    color: #F16D7F;
}
.offer{
    padding: 65px 0 96px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 180px;
    grid-gap: 30px;
    justify-content: center;
    .promo_item{
        position: relative;
        width: 360px;
        .promo_text{
            position: absolute;
            margin: 0;
            text-align: center;
            left: 0;
            right: 0;
            top: 105px;
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            color: #ffffff;
            .promo_text2{
                font-weight: 700;
                font-size: 24px;
            }
        }
        .last_item{
            position: absolute;
            top: 65px;
        }
    }
    .promo_item:last-child{
        width: 1140px;
        height: 180px;
        grid-column-start: 1;
        grid-column-end: 4;
    }

}
.products{
    padding-bottom: 95px;
}
.h2{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #222222;
}
.subtitle_h2{
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
}
.product_cards{
    padding: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    .card_item{
        background: #F8F8F8;
        height: 581px;
    }
    .text_card{
        padding: 25px 0 0 18px;
        .card_title{
            margin: 0;
            font-weight: 400;
            font-size: 13px;
            color: #000000;
        }
        .card_subtitle{
            max-width: 315px;
            margin: 13px 0 18px;
            font-weight: 300;
            font-size: 14px;
            line-height: 16.8px;
            color: #5D5D5D;
        }
        .card_price{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

}
.product_btn{
    display: flex;
    justify-content: center;
    .btn:hover{
        background: #FF6A6A;
        color: #F8F8F8;
    }
}
.btn{
    text-decoration: none;
    text-align: center;
    background: none;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 14px 39px;
}
.feature{
    padding: 103px 0 103px;
    background-color: #222222;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 30px;
    justify-content: center;
    .feature_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        .feature_title{
            margin: 19px 0 16px;
            font-weight: 400;
            font-size: 20px;
            color: #FBFBFB;
        }
        .feature_subtitle{
            margin: 0;
            text-align: center;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #FBFBFB;
        }
    }
}
.call_back{
    padding: 97px 0 120px;
    background-image: url(/img/testimonials/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.call_back_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .testimonials{
        text-align: center;
        .testimonials_text{
            max-width: 360px;
            margin: 30px 0 0;
            font-weight: 400;
            font-style: italic;
            font-size: 20px;
            line-height: 24px;
            color: #222222;
        }
    }
    .subscribe{
        text-align: center;
        .subscribe_title{
            font-weight: 700;
            font-size: 24px;
            color: #222222;
        }
        .subscribe_subtitle{
            font-weight: 400;
            font-size: 18px;
            color: #222222;
        }
    }
    .subscribe_input{
        margin-top: 32px;
    }
    .mail{
        width: 256px;
        height: 49px;
        background: #E1E1E1;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #222224;
        padding: 0 0 0 22px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .mail:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    .subscribe_btn{
        width: 100px;
        height: 49px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        color:#ffffff;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background: #F16D7F;
        cursor: pointer;

    }

}
.footer{
    background: #222222;
    padding: 24px 0 24px;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social{
        display: flex;
    }
    .copy{
        font-weight: normal;
        font-size: 16px;
        color: #FBFBFB;
    }
    .social_icon{
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}