body{
    font-family: 'Lato';
}

.header{
    background: #222222;
    padding: 18px 0 19px;
    .head_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_search a:first-child{
        margin-right: 41px;
    }
    .nav{
       a{
           margin-left: 33px;
       }
    }  
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.promo{
    background: #F1E4E6;
    .promo_items{
        display: flex;
        align-items: center;
        position: relative;
        .man{
            margin-left: 125px;
        }
        .promo_title{
            border-left: 12px solid #F16D7F;
            .text_1{
                margin: 0;
                padding: 16px 0 0 16px;
                font-weight: 900;
                font-size: 48px;
                color: #222222;
                line-height: 38px;
            }
            .text_2{
                font-weight: 700;
                font-size: 32px;
                color: #222222;
            }
            .fashion{
                font-weight: 700;
                font-size: 32px;
                
            }
            
        }
    }
    
}
.pink_text{
    color: #F16D7F;
}