.btn{
    text-decoration: none;
    text-align: center;
    background: none;
    color: $pincColor;
    border: 1px solid $pincColor;
    padding: 15px 39px 14px 39px;
    transition: 0.3s;
    &:hover{
        background: $pincColor;
        color: #F8F8F8;
    }
}


.btn-cart{
    background: transparent;
    display: flex;
    align-items: center;
    padding: 11px 16px 13px 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.2);
    }
}

/* registration button*/
.join-now{
    max-width: 167px;
    height: 50px;
    border: none;

    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    transition: 0.3s;
    background: $pincColor;
    &:hover{
        background: #FFFFFF;
        color: $pincColor;
        border: 1px solid $pincColor;
    }
    &:hover .arrow{
        fill: $pincColor;
    }
}
.arrow{
    margin-left: 20px;
    fill: #FFFFFF;
    transition: 0.3s;
}
