.btn{
    text-decoration: none;
    text-align: center;
    background: none;
    color: $pincColor;
    border: 1px solid $pincColor;
    padding: 15px 39px 14px 39px;
    transition: 0.3s;
    &:hover{
        background: $pincColor;
        color: #F8F8F8;
    }
}


.btn-cart{
    background: transparent;
    display: flex;
    align-items: center;
    padding: 11px 16px 13px 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.2);
    }
}

/* registration button*/
.join-now{
    max-width: 167px;
    height: 50px;
    border: none;

    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    transition: 0.3s;
    background: $pincColor;
    &:hover{
        background: #FFFFFF;
        color: $pincColor;
        border: 1px solid $pincColor;
    }
    &:hover .arrow{
        fill: $pincColor;
    }
}
.arrow{
    margin-left: 20px;
    fill: #FFFFFF;
    transition: 0.3s;
}

/*slider product*/
.arrow-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        fill: $pincColor;
    }
}
/*product cart btn*/
.product-cart{
    margin-top: 49px;
    padding: 0 56px 0 23px;
    height: 47px;
    display: flex;
    align-items: center;
    fill: $pincColor;
    color: $pincColor;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid $pincColor;
    transition: 0.3s;
    &:hover{
        fill: #FFFFFF;
        color: #FFFFFF;
        background: $pincColor;
        border: none;
    }
}
.cart-svg{
    margin-right: 23px;
}
/*cart buttons*/

.clear-continue{
    padding: 17px 40px 16px 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        color: #FFFFFF;
        background: #A4A4A4;

    }
}

/* button get a quote*/

.get-quote{
    margin-top: 23px;
    width: 101px;
    padding: 10px 0 12px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        color: #FFFFFF;
        background: #A4A4A4;

    }
}
/*checkout button*/

.checkout{
    width: 273px;
    padding: 15px 0 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: $pincColor;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 17px;
    margin-left: 44px;
    transition: 0.3s;
    &:hover{
        background: none;
        border: 1px solid $pincColor;
        color: $pincColor;
    }
}