.feature{
    padding: 103px 0 103px;
    background-color: #222222;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 30px;
    justify-content: center;
}
.feature_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature_title{
    margin: 19px 0 16px;
    font-weight: 400;
    font-size: 20px;
    color: #FBFBFB;
}
.feature_subtitle{
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}