.footer{
    background: #222222;
    padding: 24px 0 24px;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
        display: flex;
}
.copy{
        font-weight: normal;
        font-size: 16px;
        color: #FBFBFB;
}
.social-link{
    margin-left: 8px;
    color: #000;
    text-decoration: none;
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
            color: #FFFFFF;
            background: $pincColor;
    }
}