.header{
    position: relative;
    background: #222222;
    padding: 18px 32px 19px 32px;
}
.head_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_search a:first-child{
    margin-right: 41px;
}
.nav{
    display: flex;
   a{
    margin-left: 33px;
    }
}
.search-icon{
    fill: #E8E8E8;
    &:hover{
        fill: $pincColor;
    }
}
.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #E8E8E8;
    &:hover{
        fill: $pincColor;
    }
    &:active{
        fill: $pincColor;
    }
}
.reg-icon{
    fill: #E8E8E8;
    &:hover{
        fill: $pincColor;
    }
    &:active{
        fill: $pincColor;
    }
}
.cart-icon{
    fill: #E8E8E8;
    &:hover{
        fill: $pincColor;
    }
    &:active{
        fill: $pincColor;
    }
}

/* menu burger*/
.details-memu-category > summary {
    list-style: none;
}
.icon-menu-close{
    fill: #6F6E6E;
    float: right;
    margin-right: 17px;
    &:hover{
        fill: $pincColor;
    }
}
.burger-menu{
    display: none;
    position: absolute;
    top: 78px;
    right: 0;
    width: 232px;
    height: 748px;
    padding: 16px 0 0 34px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 3;
    transition: 0.3s;
}
.menu-open{
    display: block;
}
.h3-menu_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 37px 0 24px;
    color: #000000;
}
.category_title{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.ul-for{
    margin: 12px 0 20px;
    padding-left: 22px;
}
.for{
    list-style: none;
    margin-bottom: 11px;
    &:last-child{
        margin-bottom: 0;
    }
}
.category{
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    transition: 0.2s;
    &:hover{
        color: #000000;
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .header{
        position: relative;
        background: #222222;
        padding: 18px 16px 19px 16px;
    }
    .nav>a{
        display: none;
    }
}