.new_arrivals{
    background: #F8F3F4;
    padding: 60px 16px;
    
}
.arrivals_container{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.h1_title{
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    animation: move-title 1s alternate;
    @keyframes move-title {
        from {
            color: black;
            margin-left: -200px;
            transform: rotate(-90deg);
        }
        to{
            margin-left: 0;
            color: $pincColor;
        }
    }
}

.breadcrumb{
    display: flex;
    list-style: none;
    padding: 0;         
    & li {
        margin-left: 4px;
       
    }
}
.nav_link{
    display: flex;
    text-decoration: none;
    color: #636363;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    &:hover{
    text-decoration: underline;
    }
    &::after{
        content: "/";
    }
}
.nav_links{
    animation: move-nav 1s alternate;
    @keyframes move-nav {
        0%{
            margin-right: -180px;
        }
        100%{
            margin: 0;
        }
    }
}
@media (max-width:767px) {
    .new_arrivals{
        background: #F8F3F4;
        padding: 24px 16px 46px 16px;
        
    }
    .arrivals_container{
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h1_title{
        margin-bottom: 32px;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        animation: move-title 1s alternate;
        @keyframes move-title {
            from {
                color: black;
                margin-left: -200px;
                transform: rotate(-90deg);
            }
            to{
                margin-left: 0;
                color: $pincColor;
            }
        }
    }
    
}