.offer{
    padding: 65px 0 96px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 180px;
    grid-gap: 30px;
    justify-content: center;
}
.promo_item{
    position: relative;
    width: 360px;
    &:last-child{
        width: 1140px;
        height: 180px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
.promo_text{
    position: absolute;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    top: 105px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
}
.promo_text2{
    font-weight: 700;
    font-size: 24px;
}
.last_item{
    position: absolute;
    top: 65px;
}

@media (max-width: 1172px){
    .offer{
        width: 735px;
        padding: 20px 16px 96px 16px;
        display: grid;
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 167px 116px;
        grid-gap: 20px;
        justify-content: center;
    }
    .promo_item{
        position: relative;
        width: 232px;
        &:last-child{
            width: 736px;
            height: 180px;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        
    }
    .promo-img{
        width: 232px;
    }
    .promo-img-2{
        width: 736px;
    }

    .promo_text{
        position: absolute;
        margin: 0;
        text-align: center;
        left: 0;
        right: 0;
        top: 58px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #ffffff;
    }
    .promo_text2{
        font-weight: 700;
        font-size: 24px;
    }
    .last_item{
        position: absolute;
        top: 33px;
    }

}
@media (max-width: 767px){
    .offer{
        width: 343px;
        padding: 64px 16px 64px 16px;
        display: flex;
        flex-direction: column;
        grid-gap: 32px;
        justify-content: center;
    }
    .promo_item{
        position: relative;
        width: 343px;
        &:last-child{
            width: 343px;
            height: 111px;
        }
        
    }
    .promo-img{
        width: 343px;
    }
    .promo-img-2{
        width: 343px;
        height: 111px;
    }

    .promo_text{
        position: absolute;
        margin: 0;
        text-align: center;
        left: 0;
        right: 0;
        top: 98px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #ffffff;
    }
    .promo_text2{
        font-weight: 700;
        font-size: 24px;
    }
    .last_item{
        position: absolute;
        top: 30px;
    }
}


