/*slider слайдер*/
.product-page{
    position: relative;
}

.slider{
    padding: 11px 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 777px;
    background: #F7F7F7;

}
    /*discription product*/


.product-discrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
    padding: 65px 0 65px;
    background: #FFFFFF;
    margin-top: -65px;
}
.product-discrip-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $pincColor;
    margin: 0;  
}
.short-hr-product{
    margin: 12px 0 12px;
    width: 63px;
    height: 3px;
    background: #EF5B70;
    border: none;
}.product-discrip-subtitle{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin: 0;
}
.product-discrip-text{
    max-width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin: 48px 0 32px;
}
.price-product{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin: 0;
}
.long-hr-product{
    margin: 65px 0 65px;
    width: 641px;
    height: 1px;
    background: #EAEAEA;
    border: none;
}
    /*выпадающие чекбоксы*/

    .details-box{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 23px;
        &:last-child{
            margin-right: 0;
        }
    }
    .details-box>summary{
        list-style: none;
        &::after{
            margin-left: 10px;
            content: url(../img/size-nav-details-icon.svg);
        }
    }
    .choose-nav{
        position: relative;
        display: flex;
    }
    .choose-box{
        margin-top: 5px;
        width: 79px;
        height: 103px;
        position: absolute;
        padding: 7px 30px 12px 9px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        z-index: 2;
    }
    .choose-box label {
        display: block;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .choose-box label:last-child{
            margin-bottom: 0;
        }
    }
    .product-catalog{
        display: flex;
        gap: 30px;
        padding: 128px 0 128px;
    }
    @media (max-width:1170px){
        .slider{
            padding: 29px 0;
        }
        .slider>img{
            width: 466px;
        }
        .product-page{
            position: static;
        }
        .product-discrip{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #EAEAEA;
            padding: 65px 0 65px;
            background: #FFFFFF;
            margin-top: 0;
        }
        .product-catalog{
            margin: 0 auto;
            max-width: 735px;
            gap: 16px;
        }
        .product-catalog>.card_item:last-child{
          display: none;
        }
        
    }
    @media (max-width:767px){
        .slider{
            padding: 85px 0;
            position: relative;
        }
        .slider>img{
            width: 374px;
        }
        .product-discrip-text{
            max-width: 326px;
            margin: 31px 0 32px;
        }
        .arrow-slider{
            position: absolute;
            &:first-child{
                left: 0;
            }
            &:last-child{
                right: 0;
            }
        }
        .long-hr-product{
            margin: 32px 0 49px;
            width: 175px;
            height: 1px;
            background: #EAEAEA;
            border: none;
        }
        .details-box{
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #6F6E6E;
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
        }
        .product-catalog{
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            max-width: 735px;
            gap: 16px;
            padding: 64px 0;
        }
        .product-catalog>.card_item:last-child{
          display: none;
        }
    }