.promo{
    background: #F1E4E6;
}
.promo_items{
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.promo_title{
    border-left: 12px solid $pincColor;
    transition: 0.3s;
    animation-name: title-svipe;
    animation-duration: 3s;
}
@keyframes title-svipe{
    from {
        margin-right: 0;
    }
    to {
        margin-right: 200;
    }
}

.text_1{
    margin: 0;
    padding: 16px 0 0 16px;
    font-weight: 900;
    font-size: 48px;
    color: #222222;
    line-height: 38px;
}
.text_2{
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}
.fashion{
    font-weight: 700;
    font-size: 32px;   
}