
    /*registration title*/
.regisctration-page{
    padding: 64px 16px 96px 16px;
    display: flex;
}
.registration-header{
    padding: 59px 16px 60px 16px;
    background: #F8F3F4;
}
.reg-title{
    font-weight: 400;
    font-size: 24px;
    animation-name: shopping-move;
    animation-duration: 2s;
}
@keyframes shopping-move {
    from{
        margin-left: 800px;
    }
    to{
        margin-left: 0;
    }
}

    /*registration form*/

.reg-form{
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-right: 128px;
}
.your-name .log-pas{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.user-info{
    margin-top: 20px;
    padding: 13px 18px 16px 18px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    &:focus{
        outline: none;
    }
}
.sex{
    display: flex;
    align-items: center;
    margin: 31px 0 33px;
}
.radio{
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 20px;
    &:first-child{
        margin-left: 0;
    }
}
.radio-title{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
.warning{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15.5px 0 39px;
}
    /*discription registration*/

.title-discrip {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.subtitle-discrip{
    margin: 0;
    padding: 22px 0 21px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.reg-list{
    list-style: none;
    list-style-image: url(../img/marker.svg);
    margin-left: 22px;
    padding: 0;
}
.reg-list-item{

    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
    padding-left: 22px;
}
@media (max-width: 1170px) {
    .regisctration-page{
        padding: 40px 16px 96px 16px;
        display: flex;
        justify-content: space-around;
    }
    .reg-form{
        width: 360px;
        display: flex;
        flex-direction: column;
        margin-right: 22px;
    }
    .reg-discription{
        max-width: 354px;
    }
    .title-discrip{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
    .subtitle-discrip{
        margin: 0;
        padding: 32px 0 22px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .reg-list-item{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 16px;
        // &::before{
        //     content: url(../img/marker.svg);
        //     margin-right: 22px;
        // }
    }
}
@media (max-width: 767px){
    .reg-title{
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        animation-name: shopping-move;
        animation-duration: 1.5s;
    }
    .regisctration-page{
        margin: 0 auto;
        max-width: 360px;
        padding: 40px 0 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reg-form{
        width: 360px;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 39px;
    }
    
}