.btn {
  text-decoration: none;
  text-align: center;
  background: none;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 14px 39px;
}

.btn-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 16px 13px 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: rgba(58, 56, 56, 0.86);
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.btn_img {
  margin-right: 11px;
}

.product_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:hover {
  background: #FF6A6A;
  color: #F8F8F8;
}